version: "3"


services:

  flask-api:
    build: flaskAPI/.
    network_mode: "host"
#
#  express-api:
#    build: expressAPI/.
#    network_mode: "host"

#  llm-api:
#    container_name: chat_birdt_backend
#    build: llmApi/.
#    network_mode: "host"   

  angular:
    build: basic/.
#    network_mode: "host"
    ports:
      - "4200:80"
#    expose:
#      - "4200"

#  interface:
##    container_name: chat_birdt_frontend
#    build: interface/.
##    network_mode: "host"
#    ports:
#      - "4200:80"

######
